body{
    background-color: steelblue;
    color: white;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1{
    text-decoration: underline;
    font-size: 3rem;
    
}

main, footer{
    font-size: 2rem;
    border: 1px solid white;
    padding: 1rem;
}

figcaption{
    padding-left: 15px;
    text-decoration: underline;
}