.header{
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(192, 194, 255);
    border: 10px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.example{
    text-align: center;
    font-size: 2rem;
}

#para-container {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    overflow: auto; /* To clear the float */
    font-size: 2rem;
}

#para2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto; 
}

#para3 {
    float: right;
}

#box-container{
    display: flex;
    flex-direction: column;
}

#myButton {
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 250px;
    margin: 0 auto;
    font-size: 2rem;
}

#colorBox {
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 10px auto;
    
}

#colorBox.green {
    background-color: green;
}

