body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }
  
  header, main, footer, h1 {
    margin: 1rem;
    width: 100%; /* Ensures the element takes up the width of its parent up to max-width */
    margin: .5rem auto; /* This will center the header, main, and footer blocks horizontally */
  }
  
  h1, footer {
    background-color: black;
    color: white;
    text-align: center; /* This centers the text inside h1 horizontally */
    padding: 1rem;
  }
  
  #cards {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 10px;
  }
  
  .card {
    background-color: #000080;
    text-align: center;
    border-radius: 10px;
  }

  img{
    margin-bottom: .5rem;
    margin-top: .5rem;
    border-radius: 10px;
  }

  h2{
    padding-top: .5rem;
    font-weight: 900;
  }











