:root {
    --grinch-green: #3C8031;
    --grinch-red: #FF0000;
    --pure-white: #FFFFFF;
    --cream: #F5F5DC;
    --default-font-size: 1rem;
    --font_size_medium: 1.5rem;
    --font_size_double: 2rem;
}

/* General classes */
.pure-white, h1, body{
    color: var(--pure-white)
}

.font-default{
    font-size: var(--default-font-size);
}

.text-center{
    text-align: center;
}

.padding-top{
    padding-top: .5rem;
}

.padding-left{
    padding-left: .5rem;
}

.white-border{
    border: 1px solid white ;
}

html {
    background-color: var(--pure-white);
}

.active{
    color: var(--grinch-green)
}

body {
    font-family: 'Amatic SC', sans-serif;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--grinch-green);
    max-width: 1200px;
    margin: 0 auto;
}

#page-logo{
    width: 100px;
    padding: 5px;
    margin: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* Font size double */
header h1, #mode, #visit-info, .submitBtn, .membership-tier h3, nav a, #map, section article h3 {
    font-size: var(--font_size_double);
}

/* Font size medium */
main p, ul li, footer p, .fact-item p, .fact-item img, .radio, .membership-tier h3, .submitBtn, .card h2,
.card p, .card address, .card a, #weather-card {
    font-size: var(--font_size_medium);
}

/* Consolidate display: flex and justify-content: center properties */
.image-container, .footer-box, #icon-wrapper, #cards.list-view, #day1, #day2, #day3, #curr-container, #mult-day div {
    display: flex;
    justify-content: center;
}

/* Align items center */
.image-container, .image-container picture img, nav, .fact-item
,#day1, #day2, #day3, #curr-container, #mult-day, #mult-day div{
    align-items: center;
}

.icon {
    max-width: 32px;
}

h1{
    font-family: cursive;
}

.material-symbols-outlined {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: .5rem;
    margin-bottom: 1rem;
}

#menu-Btn, #close-Btn, .nav-menu-close, .close-ham-btn,
.close-close-btn, #cards.list-view .card img, #cards.list-view .card br {
    display: none;
}

#mode {
    font-size: var(--default-font-size);
    position: absolute;
    right: 3.2rem;
    top: .5rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

.image-container, .image-container picture img  {
    margin-top: 1rem;
    position: relative;
    max-width: 100%;
    max-height: 80vh;
}

#hero {
    position: absolute;
    top: 0;
    color: black;
    left: 50%;
    transform: translateX(-50%);
}

main p {
    padding: .5rem;
}

nav {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 100%;
}

nav a {
    color: var(--grinch-red);
    display: block;
    width: 100%;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left: 20px;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--grinch-green);
}

nav a:last-child {
    margin-bottom: 0;
}

#hero {
    position: absolute;
    top: 0;
    color: black;
}

h2 {
    font-family: 'Pacifico', cursive;
    background-color: var(--bright-red);
}

hr{
    margin-right: 10px;
}

#current-event, #weather-card, #spotlights {
    border: 1px solid black;
    margin: 1rem;
}

footer {
    background-color: var(--grinch-red);
    margin: 1rem 0;
}

.footer-container {
    padding: .5rem;
}

footer img {
    max-height: 1rem;
    margin: 0 .5rem;
}

#map{
    text-decoration: none;
    color: var(--pure-white);
}

/* Discover Page CSS */
#discover-container {
    display: flex;
    flex-direction: column;
}

.fact-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fact-item p {
    width: 50%;
    margin: 0;
}

.fact-item img {
    width: 50%;
    height: auto;
    max-width: 600px;

}

#visit-info {
    margin: 1rem;
    padding: .5rem;
}

.img-shake {
    width: 100%;
    min-width: 200px;
    height: auto;
}


/* Join Page CSS */
label, input, textarea {
    display: block;
    margin: .5rem;
    font-family: 'Courier New', Courier, monospace;
}

input {
    padding: .75rem .25rem;
}


input:required {
    border-left: 6px solid red;
}

input:required:valid {
    border-left: 6px solid greenyellow;
}

.submitBtn {
    margin: .5rem 2rem;
    padding: .5rem;
}

/* Join Page */
.free-plan, .bronze-plan, .silver-plan, .gold-plan {
    color: black;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 10px;
}

.free-plan {
    background-color: #F5F5DC;
}

.bronze-plan {
    background-color: #CD7F32;
}

.silver-plan {
    background-color: #C0C0C0;
}

.gold-plan {
    background-color: #FFD700;
}

.radio {
    padding-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.radio input {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

textarea {
    max-width: 300px;
}

.submitBtn {
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 20px 30px;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: lightgreen;
}

/* Directory */
.card a {
    color: white;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; 
    margin: 5px;
    max-width: 250px; 
    white-space: nowrap;
}

#cards.list-view .card a {
    white-space: normal;
    overflow-wrap: break-word;
}

#cards.grid-view .card a {
    font-size: var(--default-font-size);
}

#cards {
    margin: 1rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

#cards.grid-view h2 {
    padding: 10px 0;
}

#cards.list-view {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#cards.list-view .card {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.card h2, .card p, .card address {
    margin: 5px;
}

#cards.list-view .card p {
    margin: 5px; 
    padding: 0;
}

.card {
    padding: 1rem 0;
    background-color: var(--grinch-red);
    border-radius: 10px;
}

/* Weather information */
#day1, #day2, #day3, #curr-container{
    display: flex;
}

figure > *{
    padding-top: 10px;
}

figcaption{
    padding-bottom: 5px;
    text-decoration: underline;
}

#mult-day{
    display: flex;
    flex-direction: row;
    max-width: 100px; 
    height: auto;
    gap: 10px;
}

#mult-day div{
    display: flex;
    flex-direction: column;  
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

#page-visits{
    padding: 0 0 10px 40px;
}

#spotlights img{
    max-width: 100px;
}

