:root {
    --grinch-green: #3C8031;
    --grinch-red: #FF0000;
    --pure-white: #FFFFFF;
    --cream: #F5F5DC;
    --default-font-size: 1rem;
    --font_size_medium: 1.5rem;
    --font_size_double: 2rem;
}

/* General classes */
.pure-white, h1, body{
    color: var(--pure-white)
}

.font-default{
    font-size: var(--default-font-size);
}

.text-center{
    text-align: center;
}

.padding-left{
    padding-left: .5rem;
}

html {
    background-color: var(--pure-white);
}

body {
    font-family: 'Amatic SC', sans-serif;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--grinch-green);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header h1 {
    font-size: var(--font_size_double);
}

.icon {
    max-width: 32px;
}

.material-symbols-outlined {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: .5rem;
    margin-bottom: 1rem;
}

#menu-Btn,
#close-Btn,
.nav-menu-close,
.close-ham-btn,
.close-close-btn {
    display: none;
}

#mode {
    font-size: var(--default-font-size);
    position: absolute;
    right: 3.2rem;
    top: .5rem;
    margin-bottom: 1rem;
    padding: .25rem;
}

.image-container {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container picture img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
}

#hero {
    position: absolute;
    top: 0;
    color: black;
}

main p {
    padding: .5rem;
    font-size: var(--font_size_medium);
}

ul,
ul li,
footer p {
    font-size: var(--font_size_medium);
}

nav {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
}

nav a {
    color: var(--grinch-red);
    display: block;
    width: 100%;
    font-size: var(--font_size_double);
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--grinch-green);
}

nav a:last-child {
    margin-bottom: 0;
}

.image-container {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container picture img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
}

#hero {
    position: absolute;
    top: 0;
    color: black;
}

h2 {
    font-family: 'Pacifico', cursive;
    background-color: var(--bright-red);
}

#current-event,
#weather-card,
#spotlights {
    border: 1px solid black;
    margin: 1rem;
}

footer {
    background-color: var(--grinch-red);
    margin: 1rem 0;
}

.footer-container {
    padding: .5rem;
}

footer img {
    max-height: 1rem;
    margin: 0 .5rem;
}

.footer-box {
    display: flex;
    justify-content: center;
}

#map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 90%;
    margin: 1rem auto;
    border: 1px solid black;
}

.map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Discover Page CSS */
#discover-container {
    display: flex;
    flex-direction: column;
}

.fact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fact-item p {
    width: 50%;
    margin: 0;
}

.fact-item img {
    width: 50%;
    height: auto;
    max-width: 600px;

}

#visit-info {
    margin: 1rem;
    font-size: var(--font_size_double);
    padding: .5rem;
}

.img-shake {
    width: 100%;
    min-width: 200px;
    height: auto;
}

#visit-info {
    font-size: var(--font_size_double);
}

/* Join Page CSS */
label,
input,
textarea {
    display: block;
    margin: .5rem;
    font-family: 'Courier New', Courier, monospace;
}

input {
    padding: .75rem .25rem;
}


input:required {
    border-left: 6px solid red;
}

input:required:valid {
    border-left: 6px solid greenyellow;
}

.submitBtn {
    margin: .5rem 2rem;
    padding: .5rem;
}

/* Join Page */
.free-plan,
.bronze-plan,
.silver-plan,
.gold-plan {
    color: black;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 10px;
}

.membership-tier h3 {
    font-size: var(--font_size_medium);
}

.free-plan {
    background-color: #F5F5DC;
}

.bronze-plan {
    background-color: #CD7F32;
}

.silver-plan {
    background-color: #C0C0C0;
}

.gold-plan {
    background-color: #FFD700;
}

.radio {
    padding-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: var(--font_size_medium);
}

.radio input {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

textarea {
    max-width: 300px;
}

.submitBtn {
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 20px 30px;
    font-size: var(--font_size_medium);
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: lightgreen;
}

/* Directory */
#icon-wrapper{
    display: flex;
    justify-content: center;
}

#cards {
    margin: 1rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.card {
    padding: 1rem 0;
    background-color: var(--grinch-red);
    border-radius: 10px;
}

.card a {
    color: white;
    text-decoration: none;
}

#cards.list-view {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#cards.list-view .card {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#cards.list-view .card img {
    display: none;
}

.card h2,
.card p,
.card address,
.card a {
    font-size: var(--font_size_medium);
    margin: 5px;
}

#cards.list-view .card h2{
    font-family: "Amatic SC";
}

#cards.list-view .card br{
    display: none;
}

.card a {
    max-width: 250px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    text-decoration: none;
}

#cards.list-view .card p {
    margin: 5px; 
    padding: 0;
}

#cards.grid-view a{
    font-size: 1rem;
    white-space: wrap;
}

#cards.grid-view h2{
  padding: 10px 0;
}

/* Weather information */
#day1, #day2, #day3, #curr-container{
    display: flex;
    display: row;
    align-items: center;
}

#weather-card{
    font-size: var(--font_size_medium);
}

figure > *{
    padding-top: 10px;
}

figcaption{
    padding-bottom: 5px;
    text-decoration: underline;
}

#mult-day{
    display: flex;
    flex-direction: row;
    align-items: center; 
    max-width: 100px; 
    height: auto;
    gap: 10px;
}

#mult-day div{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

#page-visits{
    padding: 0 0 10px 40px;
}









