:root {
    --tropical-sea-blue: #33C1B1; 
    --sunset-orange: #FF7043; 
    --pure-white: #FFFFFF; 
    --sand-yellow: #F0E68C;
}

/* Shared classes */
.medium-font-size {
    font-size: 1.5rem;
}

.large-font-size {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.black-border {
    border: 1px solid black;
}

.radius {
    border-radius: 15px;
}

.pad-left {
    padding-left: .5rem;
}

.remove-underline {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.margin {
    margin: 1rem;
}

.margin-top {
    margin-top: .5rem;
}

.padding, .padding-top {
    padding: 1rem;
}

.display-none, #atv-fun {
    display: none;
}

.display-block {
    display: block; 
    margin-bottom: 5px;
    text-align: left;
}

.active {
    color: #2B2B2B; 
    background-color: #9BDDFF;
}

/* Shared CSS */

html {
    background-color: var(--pure-white);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: "Merriweather", serif;
}

body {
    font-family: 'Amatic SC', sans-serif;
    position: relative; 
    box-sizing: border-box;
    background-color: var(--tropical-sea-blue);
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
 
#mode, #hamBtn {
    position: absolute;
    top: .25rem; 
}

#hamBtn {
    left: 1rem;
    font-size: 3rem;
}

/* Main content */
.main-content {
    position: relative;
}

/* Sidebar */
#sidebar {
    display: block;
    position: fixed; 
    top: 0;
    width: 350px;
    height: 100%;
    background:  rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em; 
    box-sizing: border-box;
    transition: transform 0.3s ease;
    z-index: 2;
}

img {
    position: relative;
    z-index: 1;
}

/* idebar*/
#sidebar.active {
    transform: translateX(calc(0px)); 
}

/* Style for your navigation links */
.nav-menu a {
    display: block;
    color: black; 
    padding: 10px;
    text-decoration: none;
    font-size: 3rem;
    background-color: var(--tropical-sea-blue);
    font-family: 'Pacifico', cursive;
}

nav a:hover {
    color: var(--sand-yellow);
}

#hamBtn {
    z-index: 1; 
    display: none; 
    cursor: pointer;
    color: black;
}

#mode {
    right: .25rem;
    top: .25rem;
}

#mode-icon, #hamBtn {
    max-width: 50px;
}

/* Weather Information */
#weather-container, #forecast-container {
    text-align: center;
    padding: 1rem;
}

#tomorrow-conditions div {
    text-align: center;
  }
  
  #tomorrow-conditions img {
    display: block;
    margin: auto;
  }

/* Hero area */
.image-container {
    width: 100%;
    text-align: center; 
    position: relative;
}

.image-container img {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
}

#hero-btn {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

}

/* Rental container */
#rental-container, #rental-page-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

#rental-container > div {
    margin-top: 10px;
}

.rental-imgs, #rental-page-container > div > img {
    display: block; 
    width: 200px; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

#rentalType {
    font-size: 1rem; 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

input {
    font-size: 1rem;
}

input[type="radio"] {
    transform: scale(2.5);
    margin: 10px;
    padding: 10px;
  }
  
textarea {
    padding: 1rem;
}

#rentalType option {
    font-size: 2em; 
    padding: 10px;
}

#rental-container > div, #rental-page-container > div {
    background-color: var(--sand-yellow);
    padding: 1rem;
}

#rental-table-container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
}

.table-bordered {
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
}

.dark-mode {
    background-color: #2B2B2B; 
}

.dark-mode #rental-container > div, 
.dark-mode #rental-page-container > div {
    background-color: #212121;
}

ul {
    text-align: center;
    padding-left: 0;
}

ul li {
    list-style-position: inside;
    text-align: left;
}

#rental-container > * > *, #rental-page-container > * {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#secure-rental {
    display: inline-block; 
    margin-bottom: 1rem;
    padding: 10px 100px; 
    background-color: teal; 
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#secure-rental:hover {
    background-color: #0056b3;
    text-decoration: none; 
    color: #ffffff; 
}

.Reserve {
    font-size: 1.5rem;
    background-color: lightskyblue;
    padding: .5rem;
    border-radius: 15px;
    margin-bottom: 5px;
}
/* Rental table data */
#rental-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    }
    td {
        text-align: center;
    }

/* Social media icons */
.icon {
    max-height: 64px;
}

footer {
    background-color: var(--sunset-orange); 
    position: relative;
    padding: 1rem;
}

.footer-imgs {
    max-height: 150px;
}

#thumbs-up {
    position: absolute;
    top: .5rem;
    left: .5rem;
    max-width: 50px;
}

#like-container {
    position: absolute;
    top: .5rem;
    left: 4rem;
}

#cozumel-container img {
    display: none;
}

.footer a {
    color: black;
}

.dark-mode {
    background-color: #2B2B2B;
    color: white;
}

.dark-mode header,
.dark-mode footer,
.dark-mode .heroBtn,
.dark-mode .reserveBtn {
    color: black;
}

/* Reservation Page */
#form-container {
    margin: 1rem;
    text-align: left;
    width: 100%; 
    margin: auto;
}

/* contact page */
.iframe {
    margin: 1rem auto;
    display: block;
}

.iframe-container {
    text-align: center;
}

form {
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%; 
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

input::placeholder {
    color: black; 
    opacity: 1; 
  }

input:valid {
    background-color: rgb(167, 255, 167);
    color: navy;
  }
  
  input:invalid {
    background-color: lightpink;
    color: navy;
  }

#page-container {
    width: 100%; 
}

#form-container input[type="text"],
#form-container input[type="email"],
#form-container input[type="tel"],
#form-container select,
#form-container textarea {
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 10px ;
}

#duration,
#location {
    text-align: left;
}

/* Align the radio buttons */
#duration label,
#location label {
    margin-left: 10px;
}

#duration input[type="radio"],
#location input[type="radio"] {
    margin-right: 5px;
}

/* Special Accommodations/Comments label */
#comments-label {
    display: block; 
    text-align: left;
}

#rental-agreement {
    margin-left: 1rem;
}

/* Modal dialog */
#myModal {
    background-color: var(--sand-yellow);
    top: 0; 
    margin: 0;
    left: 50%;
}

/* Dimmed background color */
#myModal::backdrop {
    background-color: rgba(0,0,0,0.4); 
  }

  #day1-icon {
    z-index: 100;
  }



