@media screen and (min-width: 700px){

   #rental-container, #rental-page-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #rental-container > div {
        margin-right: 10px;
        min-height: 300px;
    }
    
    #rental-container > div:last-child, #rental-page-container > div:last-child {
        margin-right: 0;
    }

    #page-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    footer {
        position: relative;
    }
    
    #scooter-container img, #cozumel-container img{
        display: block;
        position: absolute;
        max-width: 150px;
        transform: translateY(68%);
        right: 5px;
    }
    
    #cozumel-container img{
        left: 5px;
    }

    #atv-fun{
        display: block;
        max-width: 400px;
        height: auto;
    }
}