@media screen and (min-width: 700px){



    footer {
        position: relative;
    }
    
    #scooter-container img, #cozumel-container img{
        display: block;
        position: absolute;
        max-width: 150px;
        transform: translateY(68%);
        right: 5px;
    }
    
    #cozumel-container img{
        left: 5px;
    }

}