@media screen and (min-width:40rem) {
    nav{
        flex-direction: row;
        justify-content: space-evenly;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    } 

     h2, hr {
        grid-column: 1/3;
    }

    footer{
        margin-top: 25px;
    }
}
